*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* Landing Page */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/images/homepage.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .banner-content>h1{
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
  }

  /* Style for the buttons */
  .button-container {
    position: absolute;
    bottom: 120px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; /* Adjust font size as needed */
    border-radius: 5px;
  }



/* Landing Page */


/* Mission Section */

.mission {
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 2em;
  }

  .mission-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 0 1em;
  }

  .mission-head {
    text-align: center;
  }

  .mission-head h1 {
    color: #0a1172;
    margin-top: 0.5em;
    font-weight: bold;
  }

  .mission-head h6 {
    font-weight: 100;
  }

  .mission-message {
    text-align: center;
  }

  .mission-message p {
    margin: 0;
  }

  /* Responsive Styles */

  @media (min-width: 768px) {
    .mission-intro {
      flex-direction: row;
      padding-left: 6em;
      padding-right: 6em;
    }

    .mission-head {
      flex: 1;
      text-align: left;
    }

    .mission-message {
      flex: 1;
      text-align: right;
    }
  }

.image-container{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    align-items: center;
    padding: 8em 4em 8em 4em;

}

.card1{
    flex: 1 1 25%;
    height: 400px;
    width: 400px;
    margin: .5em;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 6px;
    


}
.card1>img{
    height: 400px;
    width: 350px;
    transition: .5s;
    object-fit: cover;
    
}

.card1 .intro{
    /* height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 240px;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;  */
    height: 70px;
    width: 350px;
    background: rgb(27, 27, 27, .5);
    

}

/* .card1 .intro>h4{
    margin: 10px;
    font-size: 40px
}

.card1 .intro>p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.intro>span{
    font-weight: bold;

} */

.card1:hover{
    cursor: pointer;
}

/* .card1:hover .intro{
    height: 220px;
    bottom: 240px;
    background: black;
} */

/* .card1:hover p{
    opacity: 1;
    visibility: visible;
} */

.card1:hover img{
    transform: scale(1.1) rotate(-3deg);
}



/* Mission Section */

/* carousel cards */

.intro-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    margin: 2em;
}

.intro-head>p{
    text-align: center;
    padding: .5em;
    margin: .5em;
}

.intro-head>h1{
    text-align: center;
    padding: .5em;
    margin: .5em;
    color: #0a1172;
    font-weight: bold;   
}
.intro-head h6{
    font-weight: 100;
}


.img-wrapper{
    max-width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.carousel-inner{
    padding: 1em;
}

.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 18);
}

.carousel-control-prev .carousel-control-next{
    width: 6vh;
    height: 6vh;
    background-color: #e1e1e1e1;
    border: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev .carousel-control-next:hover{
    opacity: 1;
}

@media screen and (min-width:576px ){
    .carousel-inner{
        display: flex;
    }

    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
    .img-wrapper{
        height: 23vw;
    }
    

   
}


/* carousel cards */

/* @media */
/* @media screen and (max-width: 1200px) {
    
    img{
        max-width: 100%;
    }
    .mission-intro{
        display: flex;
        flex-direction: column;
    }
    .mission-head h1{
        font-weight: bold;
        text-align: center;
    }
    .mission-head h6{
        font-weight: 100;
        text-align: center;
    }
    .mission-message{
        flex: 1;
        justify-content: center;
    }
    
    .mission-message p{
        text-align: center;
     
    }
} */